<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="MyPipeline.commands" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
</appSettings>
 <userSettings>
  <MyPipeline.commands>
   <setting name="Copy" serializeAs="String">
    <value>PipelineExecuter.dll:PipelineExecuter.Executer</value>
   </setting>
   <setting name="Delete" serializeAs="String">
    <value>PipelineExecuter.dll:PipelineExecuter.Executer</value>
   </setting>
   <setting name="QueryFolder" serializeAs="String">
    <value>FolderExecuter.dll:FolderExecuter.Executer</value>
   </setting>
   <setting name="CreateFolder" serializeAs="String">
    <value>FolderExecuter.dll:FolderExecuter.Executer</value>
   </setting>
   <setting name="Download" serializeAs="String">
    <value>PipelineExecuter.dll:PipelineExecuter.Executer</value>
   </setting>
   <setting name="Wait" serializeAs="String">
    <value>PipelineExecuter.dll:PipelineExecuter.Executer</value>
   </setting>
   <setting name="Count" serializeAs="String">
    <value>PipelineExecuter.dll:PipelineExecuter.Executer</value>
   </setting>
   <setting name="Setting" serializeAs="String">
    <value>PipelineExecuter.dll:PipelineExecuter.Executer</value>
   </setting>
  </MyPipeline.commands>
 </userSettings>
</configuration>